{% extends "base2.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block main %}
<h1>Pick a Card</h1>

<p>Here is the value of the card.</p>

<ul class="cardarea">
    <li>{{ cardString }}</li>
    <li><span class="card">{{ cardString }}</span></li>
    <li><span class="card">{{ cardText }}</span></li>
</ul>
{% endblock %}