{% extends "base2.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block main %}
<h1>Cards left in deck</h1>
<li>Cards Left:{{ cardsLeft }}</li>

<ul class="cardarea">
    {% for card in remainingCards %}
        <li><span class="card">{{ card.getAsString() }}</span></li>
    {% endfor %}
</ul>
{% endblock %}