{% extends "base2.html.twig" %}

{% block title %}CardGame{% endblock %}

{% block main %}
<h1>Draw many cards</h1>

<li>Cards Left:{{ cardsLeft }}</li>
<p>You picked {{ num_cards }} cards. Here are the values of the cards.</p>

<ul class="cardarea">
    {% for card in cardHand %}
    <li><span class="card">{{ card }}</span></li>
    {% endfor %}

</ul>


{% endblock %}