{% extends "base2.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block main %}
<h1>Draw a Card</h1>

<li>Cards Left:{{ cardsLeft }}</li>

<ul class="cardarea">
    <li><span class="card">{{ cardString }}</span></li>
    <li><span class="card">{{ cardText }}</span></li>
</ul>
{% endblock %}