{% extends "base2.html.twig" %}

{% block title %}Blackjack{% endblock %}

{% block main %}
<h1>Blackjack</h1>

<p>
    Nu kör vi!
</p>


<ul class="cardarea">
    <li><span class="card">{{ sumCards }}</span></li>
    {% for card in playerHand %}
    <li><span class="card">{{ card.getAsString() }}</span></li>
    {% endfor %}
</ul>

<form method="post" action="{{ path('hit_me') }}">
    <button type="submit" class="button">Hit me!</button>
    <button type="submit" class="button">I'll stay</button>
</form>


{% endblock %}
