{% extends 'base.html.twig' %}

{% block title %}Add a book to the library{% endblock %}

{% block body %}

{{ include('flash.html.twig') }}

<form action="{{ path('library_add') }}" method="post">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" required minlength="1"><br>
    <label for="isbn">ISBN Number:</label><br>
    <input type="number" id="isbn" name="isbn" required min="1"><br>
    <label for="author">Author:</label><br>
    <input type="text" id="author" name="author" required minlength="1"><br>
    <label for="image_url">URL to Image:</label><br>
    <input type="text" id="image_url" name="image_url" required minlength="1"><br><br>
    <input type="submit" value="Submit">
</form>

{% endblock %}
