{% extends 'base.html.twig' %}

{% block title %}All books{% endblock %}

{% block body %}

<ul>
    {% for book in books %}
        <li>{{ book.getTitle|e }} ({{ book.getId|e }}) {{ book.getISBN|e }} {{ book.getAuthor|e }} </li>
    {% endfor %}
</ul>

{% endblock %}
