{% extends 'base.html.twig' %}

{% block title %}All books{% endblock %}

{% block body %}

<ul>
    {% for book in books %}
        <li>
            <a href="#" class="book-link" data-book-id="{{ book.id }}">{{ book.getTitle|e }}</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}
