{% extends 'base.html.twig' %}

{% block title %}All books{% endblock %}

{% block body %}

<ul>
    {% for book in books %}
        <li>
            <a href="{{ path('library_by_id', {'id': book.id}) }}" class="book-link" data-book-id="{{ book.id }}">{{ book.getTitle|e }}</a>
        </li>
    {% endfor %}
</ul>


{% endblock %}
