{% extends "baseproject.html.twig" %}

{% block title %}about{% endblock %}

{% block main %}
<h1>Ekosystem och biologisk mångfald</h1>

<p>
    FN:s hållbarhetsmål ämnar att främja en utveckling som tillfredställer dagens behov utan att äventyra kommande generationers möjligheter att tillfredställa sina behov.
    De 17 mål som finns representerar var sitt område för hur man kan jobba med och implementera hållbar utveckling för det området som målet berör. 
    Målen representerar i sin tur olika delar av vårt samhälle, naturen och ekonomi. Denna presentation fokuserar på område och mål nr 15 - Ekosystem och biologisk mångfald.
</p>

<p>
    De olika målen får olika mycket uppmärksamhet i bland annat media, kanske främst är det global uppvärmning som är associerat med "Hållbar utveckling".
    Men en rubrik som man sällan brukar se i tidningarna är att vi befinner oss i den sjätte största massutrotningen av ekosystem och biologisk mångfald i jordens historia.
    Biologisk mångfald är en förutsättning för allt liv på jorden och det är i samverkan
    mellan olika arter som livet och ekosystem blir till. Vi sitter alltså ihop, vi och naturen, och i och med att den utgör så stor grund för oss människor så kan vi inte leva utan den.
</p>

<p>
    Miljödepartementet gav år 2012 SCB i uppdrag att utvärdera Sveriges status med hjälp av EU:s hållbarhetsindikatorer. 
    Utvärderingen gjordes dels med avseende på hur Sveriges utveckling sett ut under perioden, dels med avseende på Sveriges status jämfört med EU-genomsnittet.
    (Källa: SCB)
    En del av dessa presenteras i det här projektet och agerar underlag för diskussionen kring arbetet med hållbar utveckling inom ekosystem och biologisk mångfald.
</p>

<p>
    
</p>

{% endblock %}