{% extends "baseproject.html.twig" %}

{% block title %}about{% endblock %}

{% block main %}
<h1>About</h1>

<p>
    Här beskriver jag lite om projektet, en kort introduktion till mitt projekt och vad det handlar om.
</p>
<p>
    En sida /proj/about som ger en kort introduktion till ditt projekt och vad det handlar om.
</p>

{% endblock %}