{% extends "baseproject.html.twig" %}

{% block title %}Project{% endblock %}

{% block main %}
<h1>Project</h1>

<p>
    This is where I will have my project.
</p>
<p>
    Jag har valt hållbarhetsmål nr: 15 - Ekosystem och biologisk mångfald
</p>
<a href="{{ asset('img/15_ekosystem.png') }}" class="image-link">
    <img src="{{ asset('img/15_ekosystem.png') }}" alt="">
    </a>

{% endblock %}