{% extends "baseproject.html.twig" %}

{% block title %}Rödlistade arter{% endblock %}

{% block main %}
<h1>Rödlistade arter</h1>

<a href="{{ asset('img/15_ekosystem.png') }}" class="image-link">
    <img src="{{ asset('img/15_ekosystem.png') }}" alt="">
    </a>

    
<p>
</p>


{% endblock %}
